<div class="grid-container">
    <!-- <div class="sidenav"> -->
        <!-- <header class="header clear-filter" filter-color="orange">
                <div class="header-container ">
            <p>Hello</p>
            </div> -->
        <!-- </header> --> 
        <aside class="sidenav clear-filter" filter-color="orange" >
             <div class="sidenav-image rellax-header" data-rellax-speed="-8" style="">
            </div> 
            <div class="sidenav-container ">
                <div class="content-center">
                    
                    <div class="photo-container ">
                              <!-- <img class= " ryan-pic rounded circle" src="assets/img/ryan.jpg" alt="" >  -->
                         <img src="assets/img/ryan.jpg" alt="">   
                    </div>
                    <h3 class="title">{{currentUser.firstName}} {{currentUser.lastName}}</h3>

                    <p class="category">Photographer</p>

                    <div>
                        <button [disabled]="loading" class="btn btn-primary" (click)="logout();">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Logout
                        </button>
                    </div>
                    <p></p>
                    <p></p><br/> 
                    <!-- <h4 class="title2">Progress Today</h4>
                    <circle-progress
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress> -->
                    <!-- <div class="content">
                        <div class="social-description">
                            <h2>26</h2>
                            <p>Comments</p>
                        </div>
                        <div class="social-description">
                            <h2>26</h2>
                            <p>Comments</p>
                        </div>
                        <div class="social-description">
                            <h2>48</h2>
                            <p>Bookmarks</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </aside>
    <!-- </div> -->
     <main class="main">
        <div class="main-container">
          <div class="button-container">
              <!-- <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
              </a> -->
          </div>
          
            <div class="row">
                <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <h5>Today's Task</h5>>
                        <!-- <h4 class="title">Today's task</h4> -->
                            <video width="500" height="400" controls>
                                <source src="/assets/img/video.mp4" type="video/mp4">
                             <!-- <source src="/assets/vid/video.ogg" type="video/ogg"> -->
                                Your browser does not support the video tag.
                            </video>
                        <!-- <h5 class="description">Please follow the following procedure</h5>   -->
                </div>
                <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <br><br>
                    <h5 align="left">Description</h5>
                    <p align="left">Strengthning of the thigh muscles by straightening the knee with in lying with an ankle weight</p>
                    <br><br>
                    <h5 align="left">Teaching points</h5>
                    <p align="left">The movement should be slow and controlled.</p>
                    <p align="left">Keep the body rigid suring the movements.</p>
                    <br><br>
                    <h5 align="left">Exercise Details</h5>
                    <p align="left">Times per day: 50</p>
                    <!-- <div class="col-md-12"> -->
                    <!-- <h4 class="title text-center">My Portfolio</h4> -->
                      <!-- <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons ui-2_chat-round"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons business_badge"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                    
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                              <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div> -->
                                <!-- </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset> --> 
                </div>
            <!-- </div> -->
            </div>
            <!-- <div> -->
            <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="now-ui-icons ui-2_chat-round"></i>
                      </ng-template>
                        <ng-template ngbTabContent>
                          <div class="row">
                            <div class="col-md-10 ml-auto mr-auto">
                                <div class="row collections">
                                    <div class="col-md-6">
                                        <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                        <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                        <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                    </div>
                                </div>
                            </div>
                          </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="now-ui-icons business_badge"></i>
                      </ng-template>
                        <ng-template ngbTabContent>
                          <div class="row">
                                
                                       
                                            <div class="col-md-10">
                                                <img src="assets/img/Graph.png" alt="" >
                                            </div>
                                       
                                    </div>
                            <!-- <div class="col-md-10 ml-auto mr-auto">
                                <div class="row collections">
                                    <div class="col-md-6">
                                        <img src="assets/img/bg6.jpg" class="img-raised">
                                        <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                        <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                    </div>
                                </div>
                            </div> -->
                          
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="now-ui-icons sport_user-run"></i>
                      </ng-template>
                        <ng-template ngbTabContent>
                          <div class="row">
                            <div class="col-md-10 ml-auto mr-auto">
                                <div class="row collections">
                                    <div class="col-md-6">
                                        <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                        <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                        <img src="assets/img/bg6.jpg" class="img-raised">
                                    </div>
                                </div>
                            </div>
                          </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            <!-- </div> -->
        </div>
    </main> 
    
</div>
